@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap');

body{
    font-family: "Asimovian", sans-serif;
    background-color: #041562;
}

#seleccionar_mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #114681;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

#boton_mascota {
    font-family: "Cossette Titre", sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin: 30px 0px 0px 0px;
}

input {
    display: none;
}

input:checked + label {
    background: rgb(35, 35, 170);
}

#seleccionar_ataque {
    flex-direction: column;
    align-items: center;
}

.boton_de_ataque {
    background-color: #114681;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    width: 100px;
    font-family: "Cossette Titre", sans-serif;
}

#Mensajes {
    width: 280px;
    background: aquamarine;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Cossette Titre", sans-serif;
}

#boton_reiniciar {
    border: transparent;
    color: #041562;
    font-family: "Cossette Titre", sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}